{
    "presets": [
        ["@babel/env", { "modules": false }],
        "@babel/preset-typescript",
        "@babel/react"
    ],
        "env": {
        "development": {
            "plugins": [
                "@babel/plugin-transform-runtime",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-optional-chaining",
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "plugins": [
                "@babel/plugin-transform-runtime",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-optional-chaining"
            ]
        }
    }
}

// const preset = [
//     ["@babel/env", { "modules": false }],
//     "@babel/preset-typescript",
//     "@babel/react"
// ]

// const plugins = [
//     "@babel/plugin-transform-runtime",
//     "@babel/plugin-proposal-class-properties",
//     "@babel/plugin-proposal-optional-chaining",
//     process.env["ENV"] === "development" &&  "react-hot-loader/babel"
// ].filter(Boolean)


// module.exports = {
//     preset,
//     plugins
// }
