{
    "presets": [
        ["@babel/env",{ "modules": false }],
        "@babel/react"
    ],
    "env": {
        "development": {
            "plugins": [
                "@babel/plugin-transform-runtime",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-optional-chaining",
                "react-hot-loader/babel"
            ]
        },
        "production": {
            "plugins": [
                "@babel/plugin-transform-runtime",
                "@babel/plugin-proposal-class-properties",
                "@babel/plugin-proposal-optional-chaining"
            ]
        }
    }
}
